# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon

# macOS thumbnails
._*

# macOS directory files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS external disk files
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
